/*底部样式*/
.footer{
	width:750px;
	height: 130px;
	margin:0 auto;
}
.footer ul{
	width:750px;
	height: 143px;
	background: #fff;
	position: fixed;
	bottom: 0;
}
.footer ul li{
	width:75px;
	padding-top: 20px;
	float: left;
	margin-right: 130px;
	cursor: pointer;
}
.footer ul li:first-of-type{
	margin-left: 30px;
}
.footer ul li:last-of-type{
	margin-right: 0;
}
.footer ul li img{
	display: block;
	width:75px;
	height: 75px;
}
.footer ul li h4{
	color:#000;
	font-size: 26px;
	text-align: center;
	margin: 6px 0 15px 0;
}