.header{
	height: 150px;

}
.header .logo{
	float: left;
	margin:17px 73px 0 23px;
	cursor: pointer;
}
.header form{
	float: left;
	margin-top: 52px;
	position: relative;
}
.header form input[type="text"]{
	display: block;
	width: 268px;
	height: 50px;
	border:2px solid #ff9344;
	border-radius: 25px;
	font-size: 24px;
	color:#777;
	text-indent: 30px;
	font-family: "微软雅黑";
}
.header form input[type="submit"]{
	display: block;
	width:36px;
	height: 34px;
	background: url(../img/search.png);
	position: absolute;
	top: 10px;
	right: 18px;
	cursor: pointer;
}
.header ul{
	float: right;
	margin:48px 21px 0 0;
}
.header ul li{
	width: 163px;
	height: 58px;
	line-height: 58px;
	border:2px solid #ff9344;
	font-size: 26px;
	text-indent: 16px;
}
.header ul li a{
	color:#000;
}
.header ul li img{
	margin-left: 25px;
	cursor: pointer;
}


.banner{
	height: 285px;
}
.banner img{
	width:750px;
	height: 285px;
}


.content{
	overflow: hidden;
	padding-top: 30px;
}
.content h2{
	height: 70px;
	line-height: 70px;
	font-size: 30px;
	color:#000;
	margin-bottom: 15px;
}
.content h2 i{
	display: block;
	width: 56px;
	height: 54px;
	float: left;
	margin: 8px 9px 0 20px;
}
.content h2:first-of-type i{
	background: url(../img/icon.png) 0 0 no-repeat;
}
.content h2:nth-of-type(2) i{
	background: url(../img/icon.png) -65px -2px no-repeat;
}
.content h2 a{
	color:#000;
	font-size: 24px;
	float: right;
	margin-right: 20px;
}
.content h2 a img{
	margin-left: 8px;
	margin-bottom: 5px;
	vertical-align: middle;
}
.content .picture{
	width: 584px;
	overflow: hidden;
	margin:0 auto;
}
.content .picture a{
	display: block;
	width: 241px;
	height: 94px;
	float: left;
	margin-bottom: 30px;
}
.content .picture a:first-of-type,.content .picture a:nth-of-type(3){
	margin-right: 102px;
}
.content ul{
	overflow: hidden;
}
.content ul li{
	margin-bottom: 30px;
	overflow: hidden;
}
.content ul li:last-of-type{
	margin-bottom: 0;
}
.content ul li img{
	float: left;
	margin: 0 20px;
	cursor: pointer;
}
.content ul li .info{
	width:490px;
	height: 164px;
	float: left;
}
.content ul li .info h3{
	color:#000;
	font-size: 30px;
	line-height: 30px;
	margin: 20px 0 15px 0;
	cursor: pointer;
}
.content ul li .info h3 span,.content ul li .info p span{
	font-size: 22px;
	color:#494949;
	float: right;
}
.content ul li .info a{
	color:#494949;
	font-size: 22px;
	line-height: 22px;
	margin-right: 10px;
}
.content ul li .info p{
	color:#ff9344;
	font-size: 32px;
	line-height: 32px;
	margin-top: 15px;
}

